<mat-toolbar color='primary' style="height: 30px">
    <span class='spacer'></span>
    <span class="footer-link">© Copyright My Form Buddy 2022</span>
    <a routerLink="/contactus" routerLinkActive="active" class="footer-link" target="_blank">Contact Us</a>
    <a routerLink="/terms" routerLinkActive="active" class="footer-link" target="_blank">Terms and Conditions</a>
    <a routerLink="/privacy" routerLinkActive="active" class="footer-link" target="_blank">Privacy Practice</a>
    <span class='spacer'></span>
</mat-toolbar>
