<footer>
    <ul class="list-unstyled d-flex flex-column flex-sm-row justify-content-center text-center mb-0">
        <li class="p-2">
            <a [routerLink]="['', { outlets: { popup: 'contactUs' } } ]">Contact Us</a>
        </li>
        <li class="p-2">
            <a [routerLink]="['', {outlets: {popup: 'terms'}}]">Terms and Conditions</a>
            </li>
        <li class="p-2">
        <a [routerLink]="['', {outlets: {popup: 'privacy'}}]">Privacy Practice</a>
        </li>
    </ul>
</footer>