<mat-horizontal-stepper linear="true" #stepper>
	<ng-template matStepperIcon="edit">
		<mat-icon>done</mat-icon>
	</ng-template>

	<mat-step [stepControl]="basicInfoForm" label="Basic Info">
		<reg-basic-info #RegBasicInfoComponent></reg-basic-info>
	</mat-step>
	<mat-step [stepControl]="securityQuestionForm" label="Security Question">
		<reg-security-question #RegSecurityQuestionComponent></reg-security-question>
	</mat-step> 
	<mat-step [stepControl]="loginForm" label="Login">
		<reg-login #RegLoginComponent
			[regBasicInfoComponent]="RegBasicInfoComponent"
			[regSecurityQuestionComponent]="RegSecurityQuestionComponent">
		</reg-login>
	</mat-step>
</mat-horizontal-stepper>
