// @import "@angular/material/prebuilt-themes/indigo-pink";
@import "@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("//fonts.googleapis.com/earlyaccess/notosanstc.css");

/*
 * Actual Sticky Footer Styles
 */
 .all-wrap {
    min-height: 100vh;
  }
  
  .page-wrap {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 900px;
    margin: auto;
  }
  
  .content {
    flex: 1;
  }
  
  
  /*
   * Make the Component injected by Router Outlet full height:
   */
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    > *:not(router-outlet) {
      flex: 1;
      display: block;
    }
  }

.snackbar-success {
    background-color:green;
    color:white;
    button {background:white; color: blue}
  }

.snackbar-failed {
  background-color:red;
  color:white;
  button {background:white; color: blue}
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// xj customized
button.nextButton {
  float: right;
}

.spinnercenter {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #3fb53f;
 }