<mat-card>
	<form [formGroup]="form">
		<mat-form-field style="width:60%">
			<input matInput placeholder="Username" formControlName="username" required maxlength="30">
			<mat-error *ngIf="usernameControl.errors">
				<div *ngIf="usernameControl.hasError('minlength')">User name must have more than 3 characters</div>
				<div *ngIf="usernameControl.hasError('invalidFormat')">Username only allows alphanumeric characters</div>
			</mat-error>
		</mat-form-field>
		<div formGroupName="passwordGroup">
			<div>
				<mat-form-field style="width:60%">
					<input matInput placeholder="Password" formControlName="password" required type="password" maxlength="20">
					<mat-error *ngIf="passwordControl.errors">
						<div *ngIf="passwordControl.hasError('minlength')">Password must have more than 8 characters</div>
					</mat-error>
				</mat-form-field>
			</div>
			<div>
				<mat-form-field style="width:60%">
					<input matInput placeholder="Confirm password" formControlName="confirmPassword" required type="password">
				</mat-form-field>
			</div>
			<mat-error *ngIf="passwordGroupControl.errors">
				<div *ngIf="passwordGroupControl.hasError('mismatch')">Password and Confirm password do not match</div>
			</mat-error>
		</div>
	  	<mat-card-actions>
			<button mat-raised-button matStepperPrevious>Previous</button>
			<!-- <button mat-raised-button color="primary" class="nav-btn pull-right nextButton" [disabled]="!form.valid" (click)="onSubmit()">Submit</button> -->
			<button mat-raised-button color="primary" class="nav-btn pull-right nextButton" (click)="onSubmit()">Submit</button>
		</mat-card-actions>
	</form>
</mat-card>